.loading-panel {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  p {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 0.5px;
  }
}

.alert-wrapper {
  position: absolute !important;
  z-index: 100;
  left: 50%;
  transform: translateX(-50%);
  top: 20px;
}
